{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "partials/navbar.html" %}
<h1 class="discount">Discounted Courses</h1>
<div id="course-list">
    {% for course in discounted_courses %}
        <div class="course-item">
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.name }}">
            {% endif %}
            <h3>{{ course.name }}</h3>
            <p>{{ course.description|truncatewords:20 }}</p>
            <p>Discount: <span class="discount-price">{{ course.discount }}%</span></p>
            <p>
                Original Price: <span class="price">${{ course.price }}</span><br>
                Discounted Price: ${{ course.discounted_price|floatformat:2 }}
            </p>
            <!-- Purchase Button -->
            <a href="#" class="purchase-button">Select Course</a>
        </div>
    {% endfor %}
</div>
{% endblock content %}